<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script>
  // const { createApp } = Vue

  const PostListApp = {
    delimiters: ["[[", "]]"],
    data() {
      return {
        postList: [],
        cateList: [],
        // tagList: [],
        category: '',
      };
    },

    created() {
      console.log("created()...");
      const params = new URL(location).searchParams;
      this.category = params.get('category');
      this.fetchPostList();
      this.fetchCateTagList();
    },

    methods: {
      fetchPostList() {
        console.log("FetchPostList()...", this.category, this.tag);
        let getUrl = '';
        if (this.category) getUrl = `/api/post/list/?category=${this.category}`
        else getUrl = '/api/post/list';

        axios
          .get(getUrl)
          .then((res) => {
            console.log("FETCH POSTLIST GET RES", res);
            this.postList = res.data;
          })
          .catch((err) => {
            console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
            alert(`${err.response.status} ${err.response.statusText}`);
          });
      },

      fetchCateTagList() {
        console.log("fetchCateTagList()...");

        axios
          .get(`/api/catetag`)
          .then((res) => {
            console.log("FETCH CATE-TAG-LIST GET RES", res);
            this.cateList = res.data.cateList;
            // this.tagList = res.data.tagList;
          })
          .catch((err) => {
            console.log("FETCH CATE-TAG-LIST GET ERR.RESPONSE", err.response);
            alert(`${err.response.status} ${err.response.statusText}`);
          });
      },
    
      serverPage(category) {
        console.log("serverPage()...", category);
        if (category) location.href = `/?category=${category}#portfolio`;
        else location.href = '/#portfolio'
      }
    },
  };

  Vue.createApp(PostListApp).mount("#page-top");
</script>
