{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block content %}
<!-- Blog Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Post</h2>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="row">
            <div v-for="post in postList" :key="post.id" class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" :href="`/blog/post/${post.id}/#post`">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" :src="post.image" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-subheading text-muted">[[ post.category]]</div>
                        <div class="portfolio-caption-heading">[[ post.title ]]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Information -->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Zamoca</h2>
            <p class="text-muted">Backend Developer Jr.</p>
        </div>
        <!-- <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/1.jpg' %}" alt="..." />
                            <h4>Zamoca</h4>
                            <p class="text-muted">Developer Jr.</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div> -->
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam
                veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                    class="fab fa-twitter"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                    class="fab fa-linkedin-in"></i></a>
        </div>
    </div>

    </div>
</section>
{% endblock %}

{% block extra-script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script>
    import { PostListApp } from 'vue'

    PostListApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                count: 0
            }
        },

        created() { 
            console.log("created()...");
            this.fetchPostList();
        },

        methods: {
            fetchPostList() {
                console.log("FetchPostList()...");

                axios.get('/api/post/list/')
                .then(res => {
                    console.log("FETCH POSTLIST GET RES", res);
                    this.postList = res.data;
                })
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            }
        },
    }).mount('#page-top')
</script>
{% endblock %}